<div class="text-center mt-20">
    <button class="font-size: 1.20rem
    line-height: 1.75rem bg-blue-500 text-white px-4 py-2 rounded font-bold hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50 transition duration-200 ease-in-out mt-30"><a routerLink='/signin'>SignIn</a></button>  
    </div>
    <div class="text-center">
        <button class="font-size: 1.20rem
        line-height: 1.75rem bg-blue-500 text-white px-4 py-2 rounded font-bold hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50 transition duration-200 ease-in-out mt-20"><a routerLink='/signup'>SignUp</a></button>  
    </div>
